<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anichopr.digilocker" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:theme="@style/ActionBarTheme" >
        <activity
            android:name=".RootActivity"
            android:label="@string/app_name"
            android:theme="@style/ActionBarTheme" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
                 >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SigninActivity"
            android:label="DigiLocker" >

        </activity>
        <activity
            android:name=".HowtoActivity"
            android:label="@string/title_activity_howto"
            android:parentActivityName=".RootActivity"
            android:theme="@style/ActionBarTheme" >
        </activity>
        <activity
            android:name=".ApplyActivity"
            android:label="@string/title_activity_apply"
            android:parentActivityName=".HowtoActivity"
            android:theme="@style/ActionBarTheme" >
        </activity>
        <activity
            android:name=".DocRequirementActivity"
            android:label="@string/title_activity_doc_requirement"
            android:parentActivityName=".ApplyActivity"
            android:theme="@style/ActionBarTheme" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:parentActivityName=".RootActivity"
            android:theme="@style/ActionBarTheme" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>

    </application>

</manifest>
